<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViewNext"
        tools:targetApi="31">
        <activity
            android:name=".ui.Splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activity.Practicas.Practica1.ListaFacturas_Activity"
            android:screenOrientation="portrait"/>/>
        <activity android:name=".ui.Activity.Practicas.Practica1.FiltroFacturaActivity"
            android:screenOrientation="portrait"/>/>
        <activity android:name=".ui.Activity.Practicas.Practica2.SmartSolar_Activity"
            android:screenOrientation="portrait"/>/>
        <activity android:name=".ui.Activity.Firebase.SignUp"
            android:screenOrientation="portrait"/>/>
        <activity android:name=".ui.Activity.Firebase.LogIn"
            android:screenOrientation="portrait"/>/>
        <activity android:name=".ui.Activity.Firebase.ForgotPassword"
            android:screenOrientation="portrait"/>/>
        <activity android:name=".ui.Activity.Principal_Activity"
            android:screenOrientation="portrait"/>/>

    </application>

</manifest>